<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div *ngIf="formulario" class="col-md-6 border rounded p-5 shadow">
    <h6 class="text-center">{{tituloFormulario}}</h6>
    <hr/>

    <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
      <div class="form-group">
        <label>Nome</label>
        <input class="form-control form-control-sm" formControlName="nome" type="text">
      </div>
      <div class="form-group">
        <label>Sobrenome</label>
        <input class="form-control form-control-sm" formControlName="sobrenome" type="text">
      </div>
      <div class="form-group">
        <label>Endereço</label>
        <input class="form-control form-control-sm" formControlName="endereco" type="text">
      </div>
      <div class="form-group">
        <label>País</label>
        <input class="form-control form-control-sm" formControlName="pais" type="text">
      </div>
      <hr>
      <div class="form-group">
        <h5>Carro</h5>
      </div>
      <div class="form-group">
        <label>Marca</label>
        <input class="form-control form-control-sm" formControlName="marca" type="text">
      </div>
      <div class="form-group">
        <label>Modelo</label>
        <input class="form-control form-control-sm" formControlName="modelo" type="text">
      </div>
      <div class="form-group">
        <label>Placa</label>
        <input class="form-control form-control-sm" formControlName="placa" type="text">
      </div>
      <div class="form-group">
        <label>Estacionado?</label>
        <input placeholder="(1 = sim, 0 = não)" class="form-control form-control-sm" formControlName="estacionado" type="text">
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-sm btn-secondary" type="submit">Registrar</button>
        <button class="btn btn-sm btn-light ml-2" type="button">Voltar</button>
      </div>
    </form>
  </div>
</div>
</body>
