<div class="homepage">
  <header class="header">
    <img alt="Logo" class="FerrariLogo" src="./assets/images/redFerrari.jpg">
    <div class="logo-container">
      <div class="text-container">
        <h1 class="title">Estacionamento do Bryan</h1>
        <p class="subtitle">Seu lugar seguro para estacionar</p>
      </div>
    </div>
  </header>

  <div class="car-parking">
    <div class="car-slot">
      <img alt="Carro" src="assets/car1.png">
      <p class="car-name">Carro 1</p>
    </div>
    <div class="car-slot">
      <img alt="Carro" src="assets/car2.png">
      <p class="car-name">Carro 2</p>
    </div>
    <!-- Adicione mais slots de carro aqui -->
  </div>
</div>
